<div class="content-block-container">
  <app-heading Title='<i>"Who&apos;re these nerds?"</i>' />
  <app-info-content-block
    Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur lectus non sodales convallis. Aenean sodales auctor dui ut bibendum. Donec euismod lobortis nulla, vitae ornare leo posuere et. Aenean lacinia tincidunt libero et rutrum. Quisque metus est, condimentum pharetra congue eu, placerat a tortor. Aliquam non tortor luctus, molestie velit vel, tristique erat. Vestibulum sapien dolor, gravida eu massa ac, dapibus posuere lorem."
  />

  <app-heading Title="Breakout Season" />
  <app-info-content-block
    Text="Fusce porta, tortor a vestibulum facilisis, ipsum eros ultrices purus, id dictum velit magna dapibus magna. Sed ex quam, rhoncus vel tempus nec, lobortis convallis massa. Aenean et consectetur est. Nulla id pretium ipsum. Ut vulputate, ligula at posuere ultricies, velit augue volutpat ligula, eget mollis purus ante et arcu. Cras viverra justo nec nisi tincidunt, at fermentum risus malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas."
  />

  <app-slider-content-block
    [style.--right-button-color]="'var(--background-color)'"
  >
    <app-block-info-slider-content
      BlockName="Orange"
      ImageName="orange-block.png"
    ></app-block-info-slider-content>
    <app-block-info-slider-content></app-block-info-slider-content>
    <app-block-info-slider-content></app-block-info-slider-content>
  </app-slider-content-block>
</div>
