<div class="content-block-container">
  <app-heading Title='<i>"Who are these guys?"</i>' />
  <app-info-content-block
    Text="<i>Hi there! Oscar & Bo here. We're two long-time friends from Denmark and we're on a quest to mark our spot on the indie game map. <br/><br/> We have years of game development experience from game jams and personal projects, and have now decide to take a leap in our indie dev <q>career</q> - starting our own studio! <br/><br/> The goal is to create a collection of small and enjoyable game experiences for you to enjoy and we're already well on our way with our first game, Breakout Season, which you can get a sneak peak of below!</i>"
  />

  <app-media-content-block
    class="large-content-block"
    Title="Embrace satisfying chaos in <i>Breakout Season!</i>"
    Src="assets/gifs/gameplay-01.gif"
    Alt="A .gif showing gameplay of Breakout Season"
    LoadWidth="850"
    LoadHeight="476"
  />

  <app-info-content-block
    class="no-margin"
    Text="<i>Want to follow along on our journey to get <b>behind-the-scenes</b> insights and a chance to have an impact on our games while chatting directly with us? Then:</i>"
  />

  <app-cta-button
    Text="Join our newsletter!"
    Url="https://kakaos-collective.eo.page/newsletter"
  ></app-cta-button>

  <app-heading Title="Breakout Season" />
  <app-info-content-block
    class="bordered rounded centered-text"
    Text="Breakout Season is the joyful combination of ball-bouncing and exponential growth. Choose where to shoot your ever-increasing arsenal of balls and embrace the chaos as blocks break with a satisfying <i><b>*pop*</b></i>, balls scatter in every direction and your points soar to the skies! <br/><br/> You can play the newest demo of Breakout Season for <i><b>FREE</b></i> right now in your <i>browser</i> or on your <i>phone</i> or <i>tablet!</i>"
  >
    <app-cta-button
      Text="Play Breakout Season!"
      Url="https://kakaos-collective.itch.io/breakout-season"
    ></app-cta-button>

    <br />
  </app-info-content-block>

  <app-info-content-block
    class="centered-text no-margin"
    Text="Breakout Season features a host of different blocks all providing various effects from increasing your point multiplier to giving you extra balls to wreck more havoc. Stay tuned as more blocks will arrive in the future!"
  ></app-info-content-block>

  <app-slider-content-block
    class="bordered rounded"
    Title="Meet the blocks!"
    [style.--right-button-color]="'var(--background-color)'"
  >
    <app-block-info-slider-content
      BlockName="Orange"
      Health="2"
      Effect="+5 points & spawns two new orange blocks"
      ImageName="orange-block.png"
    ></app-block-info-slider-content>
    <app-block-info-slider-content
      BlockName="Red"
      Health="3"
      Effect="+25 points & spawns at a new position next round"
      ImageName="red-block.png"
    ></app-block-info-slider-content>
    <app-block-info-slider-content
      BlockName="Purple"
      Health="∞"
      Effect="+1 to round multiplier every 2 hits"
      ImageName="purple-block.png"
    ></app-block-info-slider-content>
    <app-block-info-slider-content
      BlockName="Yellow"
      Health="3"
      Effect="Gives +1 ball for the rest of the level"
      ImageName="yellow-block.png"
    ></app-block-info-slider-content>
    <app-block-info-slider-content
      BlockName="Dark Orange"
      Health="1"
      Effect="+3 points & spawns 3 new dark orange blocks"
      ImageName="dark-orange-block.png"
    ></app-block-info-slider-content>
    <app-block-info-slider-content
      BlockName="Blue"
      Health="2"
      Effect="+0.25 round multiplier & spawns 2 new blue blocks"
      ImageName="blue-block.png"
    ></app-block-info-slider-content>
  </app-slider-content-block>

  <app-info-content-block
    class="centered-text no-margin"
    Text="Experience all four seasons of the year during your run, with each season presenting a bigger challenge than the last and a greater opportunity to beat your highscore!"
  ></app-info-content-block>

  <app-slider-content-block
    class="rounded large-content-block"
    Title="Enjoy the four seasons!"
  >
    <app-image-slider-content
      Src="assets/gameplay-spring.png"
      Alt="Gameplay screenshot showcasing spring"
      LoadWidth="850"
      LoadHeight="482"
    ></app-image-slider-content>
    <app-image-slider-content
      Src="assets/gameplay-summer.png"
      Alt="Gameplay screenshot showcasing summer"
      LoadWidth="850"
      LoadHeight="482"
    ></app-image-slider-content>
    <app-image-slider-content
      Src="assets/gameplay-autumn.png"
      Alt="Gameplay screenshot showcasing autumn"
      LoadWidth="850"
      LoadHeight="482"
    ></app-image-slider-content>
    <app-image-slider-content
      Src="assets/gameplay-winter.png"
      Alt="Gameplay screenshot showcasing winter"
      LoadWidth="850"
      LoadHeight="482"
    ></app-image-slider-content>
  </app-slider-content-block>
</div>
