.content-block:host {
  position: relative;
}

.content-title {
  z-index: 5;
}

.slider-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider {
  width: 100%;
  display: grid;
}

.slider-button {
  display: flex;
  position: absolute;
  width: 3rem;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  mask-image: url("/assets/arrow-01.svg");
  z-index: 100;
  transition: background-color 0.2s ease-out;
}

.left-button {
  left: 0;
  transform: rotate(180deg);
  background-color: var(--left-button-color, var(--primary-color));
}

.left-button:hover {
  background-color: var(--left-button-hover-color, var(--text-color));
}

.right-button {
  background-color: var(--right-button-color, var(--primary-color));
  right: 0;
}

.right-button:hover {
  background-color: var(--right-button-hover-color, var(--text-color));
}

// not the best solution, I know, but under time pressure and way too late in the evening to care 😴
@media (max-width: 640px) {
  .left-button {
    background-color: var(--primary-color);
  }

  .left-button:hover {
    background-color: var(--secondary-color);
  }

  .right-button {
    background-color: var(--primary-color);
  }

  .right-button:hover {
    background-color: var(--secondary-color);
  }
}
