<div class="headerContainer">
  <div
    class="logo-container"
    [style.top]="TitleTop"
    [style.opacity]="TitleOpacity"
  >
    <div class="logo-image"></div>
    <div class="logo-title"></div>
  </div>
  <img
    class="scroll-img"
    ngSrc="assets/scrollAnimation.gif"
    width="300"
    height="300"
    priority
  />
  <!-- <img
    class="banner"
    ngSrc="assets/banner.png"
    alt="Banner photo showcasing Breakout Season"
    [style.filter]="BannerBrightness"
    [style.opacity]="BannerOpacity"
    priority
    fill
  /> -->
  <div
    class="banner"
    [style.filter]="BannerBrightness"
    [style.opacity]="BannerOpacity"
  ></div>
</div>
