@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap");

:root {
  --text-color: #f9e4cb;
  --logo-color: #FFFFFF;
  --background-color: #34241c;
  --primary-color: #eb672d;
  --secondary-color: #f79a58;
  --tertiary-color: #EB672D;
  --accent-color-1: #4d7b2f;
  --accent-color-2: #3e53a1;

  --drop-shadow: drop-shadow(-6px 8px rgba(0, 0, 0, 0.3));
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

p {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  font-size: 1rem;
}

a {
  font-family: "Inter", sans-serif;
}

.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 1.5rem;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .large-content-block {
    max-width: 850px;
  }
}

.content-block p {
  margin: 1.5rem;
}

.centered-text {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.content-title {
  font-weight: 400;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  margin: 0 !important;
  padding: 0.25rem 0rem 0.25rem 1.5rem;
  color: var(--text-color);
}

.slider-content-container {
  grid-column: 1;
  grid-row: 1;
  min-width: 100%;
}

.bordered {
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 2px;
}

.rounded {
  border-radius: 1.5rem;
}
