:root {
  --text-color: #f9e4d4;
  --background-color: #470d21;
  --primary-color: #d67d3e;
  --secondary-color: #9c0f48;
  --accent-color: #508d4e;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

h1 {
  font-family: "Inter", sans-serif;
}
