<div class="block-info-container">
  <div class="bullet-points-container">
    <div class="bullet-point">
      <app-icon class="icon" IconSrc="assets/icons/health.svg"></app-icon>
      <p>{{ Hits }}</p>
    </div>
    <div class="bullet-point">
      <app-icon class="icon" IconSrc="assets/icons/effect.svg"></app-icon>
      <p>{{ Effect }}</p>
    </div>
  </div>
  <div class="image-container">
    <img
      src="{{ ImageUrl }}"
      alt="Image of the {{ BlockName }} block from Breakout Season"
    />
  </div>
</div>
